@model ServicesStateMonitor.Models.Service

<!DOCTYPE html>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" aria-readonly="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DependFrom" class="control-label"></label>
                <select multiple="multiple" asp-for="DependFrom" asp-items="@ViewBag.Dependencies" class="form-control" aria-readonly="true"></select>
            </div>

            <div class="form-group">
                <label asp-for="LinksText" class="control-label"></label>
                <textarea asp-for="LinksText" class="form-control" aria-readonly="true"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>