@using ServicesStateMonitor.Enums
@model IEnumerable<Service>

@{
    ViewData["Title"] = "Monitoring Page";
}

<div class="container">

    <div class="row justify-content-between" id="frontendRow">
        @foreach (var item in Model)
        {
            if (item.Level == ServiceLevel.Frontend)
            {
                <service info="item">
                    @Html.DisplayFor(modelItem => item.Name)
                </service>
            }
        }
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="row justify-content-around" id="backendRow">
        @foreach (var item in Model)
        {
            if (item.Level == ServiceLevel.Backend)
            {
                <service info="item">
                    @Html.DisplayFor(modelItem => item.Name)
                </service>
            }
        }
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="row justify-content-between" id="databaseRow">
        @foreach (var item in Model)
        {
            if (item.Level == ServiceLevel.Database)
            {
                <service info="item">
                    @Html.DisplayFor(modelItem => item.Name)
                </service>
            }
        }
    </div>
</div>


<script src="js/signalr/dist/browser/signalr.min.js"></script>
<script src="js/hub.js"></script>